# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# C# / .NET
bin/
obj/
*.dll
*.pdb
*.user
*.suo
.vs/

# IDE
.idea/
*.swp
*.swo
.vscode/

# OS
.DS_Store
Thumbs.db

# Build outputs
mod/Assemblies/*.dll
